<?xml version="1.0"?>
<launch>
  <param name="min_note" value="C2" />
  <param name="max_note" value="D6" />

  <include file="$(dirname)/onsets.launch">
    <arg name="semitones_above" value="26" />
    <arg name="reference_amplitude" value="480.0" />
    <arg name="onset_delta" value="0.5" />
    <arg name="loudest_expected_db" value="50.0" />
  </include>
</launch>
