<launch>
  <!-- this node expects parameters `max_note` and `min_note` set externally -->

  <arg name="semitones_above" default="26" doc="how many semitones should be included in spectrum above highest note"/>

  <arg name="reference_amplitude" doc="reference for dB computation. Usually noise-floor"/>
  <arg name="log_max_raw_cqt" default="false" doc="Log the maximum raw cqt value to rosout to estimate noise floor" />

  <arg name="onset_delta" doc="threshold for detecting onset peaks" />
  <arg name="loudest_expected_db" doc="to scale published spectrogram to useful values" />
  <arg name="drift_s_per_hour" default="0.0" doc="drift compensation for the audio topic" />

  <arg name="perceptual_weighting" default="true" doc="Apply perceptual weighting to dB-scaled cqt" />

  <node name="onset_detector" pkg="music_perception" type="detect_onset.py" output="screen">
    <param name="semitones_above" value="$(arg semitones_above)" />
    <param name="reference_amplitude" value="$(arg reference_amplitude)" />
    <param name="onset_delta" value="$(arg onset_delta)"  />
    <param name="loudest_expected_db" value="$(arg loudest_expected_db)"/>
    <param name="drift_s_per_hour" value="$(arg drift_s_per_hour)"/>
    <param name="perceptual_weighting" value="$(arg perceptual_weighting)"/>
    <param name="log_max_raw_cqt" value="$(arg log_max_raw_cqt)"/>
  </node>
</launch>